# dependencies
node_modules/

# Next.js
.next/
out/

# production/build output
dist/
build/

# environment files (including files downloaded by Vercel)
.env*

# keep the template
!.env.example

# Vercel
.vercel/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS
.DS_Store

# editor / IDE
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# misc
*.pem
.vercel
